<% if issues && issues.any? %>
<%= form_tag({}) do %>
  <table class="list issues">
    <thead><tr>
    <th>#</th>
    <th><%=l(:field_project)%></th>
    <th><%=l(:field_tracker)%></th>
    <th><%=l(:field_subject)%></th>
    <th><%=l(:field_assigned_date)%></th>
    </tr></thead>
    <tbody>
    <% for issue in issues %>
    <tr id="issue-<%= h(issue.id) %>" class="hascontextmenu <%= cycle('odd', 'even') %> <%= issue.css_classes %>">
      <td class="id">
        <%= check_box_tag("ids[]", issue.id, false, :style => 'display:none;', :id => nil) %>
     <% if issue.code_num? %>
     <%= link_to(issue.id  , issue_path(issue)) %> (<%= issue.code_num %>) creado <%= format_date(issue.created_on)%>
     <%else%>
      <%= link_to(issue.id  , issue_path(issue)) %> creado <%= format_date(issue.created_on)%>
      <% end %>
      </td>
      <td class="project"><%= link_to_project(issue.project) %></td>
      <td class="tracker"><%= issue.tracker %></td>
      <td class="subject">
        <%= link_to(issue.subject.truncate(60), issue_path(issue)) %> (<%= issue.status %>)
      </td>
       <td class="subject">
           <% for assigned in issue.assigneds %>
                       
                       <% if assigned.issue_id == issue.id &&  User.current.id == assigned.user_id  %>
                		<% if assigned.updated_user %>
                                       <%= User.find(assigned.updated_user) %>  el  (<%= format_date(assigned.updated_at) %>)
                                 <%else%>
                                      <%= User.find(assigned.created_user) %> el (<%= format_date(assigned.created_at) %>)

                                  <%end%>         	                 

                                 
                      <%end%>
              <% end %>
         </td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
