<%= form_for(@formal_document) do |f| %>
  <% if @formal_document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@formal_document.errors.count, "error") %> prohibited this formal_document from being saved:</h2>

      <ul>
      <% @formal_document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :issue_id %><br>
    <%= f.number_field :issue_id %>
  </div>
  <div class="field">
    <%= f.label :journal_id %><br>
    <%= f.number_field :journal_id %>
  </div>
  <div class="field">
    <%= f.label :content_html %><br>
    <%= f.text_area :content_html %>
  </div>
  <div class="field">
    <%= f.label :filename %><br>
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :author_id %><br>
    <%= f.number_field :author_id %>
  </div>
  <div class="field">
    <%= f.label :is_signatured %><br>
    <%= f.check_box :is_signatured %>
  </div>
  <div class="field">
    <%= f.label :is_deleted %><br>
    <%= f.check_box :is_deleted %>
  </div>
  <div class="field">
    <%= f.label :deleted_user %><br>
    <%= f.number_field :deleted_user %>
  </div>
  <div class="field">
    <%= f.label :created_user %><br>
    <%= f.number_field :created_user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
