<p id="notice"><%= notice %></p>

<h1>Listing Formal Documents</h1>

<table>
  <thead>
    <tr>
      <th>Issue</th>
      <th>Journal</th>
      <th>Content html</th>
      <th>Filename</th>
      <th>Author</th>
      <th>Is signatured</th>
      <th>Is deleted</th>
      <th>Deleted user</th>
      <th>Created user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formal_documents.each do |formal_document| %>
      <tr>
        <td><%= formal_document.issue_id %></td>
        <td><%= formal_document.journal_id %></td>
        <td><%= formal_document.content_html %></td>
        <td><%= formal_document.filename %></td>
        <td><%= formal_document.author_id %></td>
        <td><%= formal_document.is_signatured %></td>
        <td><%= formal_document.is_deleted %></td>
        <td><%= formal_document.deleted_user %></td>
        <td><%= formal_document.created_user %></td>
        <td><%= link_to 'Show', formal_document %></td>
        <td><%= link_to 'Edit', edit_formal_document_path(formal_document) %></td>
        <td><%= link_to 'Destroy', formal_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formal document', new_formal_document_path %>
