<h3 class="title"><%= 'Reporte peticiones' %></h3>

 <%= form_tag({:controller => 'formal_documents',
              :action  => 'to_normal_reporte',           
              :project_id => 'reporte'},
              :remote => true,
             :method => :get
             ) do%>
   <div class="box">
<p><%= label_tag 'user_search_init', 'Inicio' %></p> <%= date_field_tag 'user_search_init', nil, class: "validation", :required => true %>
<p><%= label_tag 'user_search_end', 'Fin' %> </p> <%= date_field_tag 'user_search_end', nil,:required => true %>
<p><%= label_tag 'tipo', 'Tipo' %> </p> <%= select_tag 'id', options_for_select(@trackers.collect{ |t| [t.name, t.id] }.insert(0,'TODOS')),:required => true  %>
<p><%= label_tag 'usuario', 'Usuario' %> </p> <%= select_tag 'user_id', options_for_select(@project.list_users.collect{ |u| [u.name, u.id] }.insert(0,'YO')),:required => true %>
       
     </div>

<%= javascript_tag "observeSearchfield('user_search_init', 'users_search_vc', '#{ escape_javascript url_for(:controller => 'formal_documents',
              :action => 'valor',
              
              :project_id => @project) }')" %>

<%= javascript_tag "observeSearchfield('user_search_end', 'users_for_assigned', '#{ escape_javascript url_for(:controller => 'formal_documents',
              :action => 'valor_end',
              
              :project_id => @project) }')" %>

<%= javascript_tag "observeSearchfield('id', 'users_for_assigned', '#{ escape_javascript url_for(:controller => 'formal_documents',
              :action => 'trackers_id',

              :project_id => @project) }')" %>

<%= javascript_tag "observeSearchfield('user_id', 'users_for_assigned', '#{ escape_javascript url_for(:controller => 'formal_documents',
              :action => 'user_id',
              :project_id => @project) }')" %>



<%= submit_tag "Generar", :onclick => "menu_c_pdf()"  %>


 <% end %>

<script type="text/javascript">
 $(function () {
    $("#dialog").dialog({
      autoOpen: false,
      modal: true,
      height: 500,
      width: 900
    });
    $("#tabs").tabs();
  });
 function menu_c_pdf(){
       normal_reporte('reporte');
      $("#dialogReporte").dialog("open");     
  }


  function normal_reporte(reporte){
$("#normal_reporte").html("<embed src='../formal_documents/to_normal_reporte?issue_id=<%='383'%>&journal_id="+reporte+"#page=1&zoom=90' width='825' height='375'>");
  }
$(function() {
 $('.validation').on('input select', function() {
    judge.validate($(this)[0], {
        valid: function(element) {
                eliminaMensajeError(element);
        },
        invalid: function(element, messages) {
            muestraMensajeError (element, messages);
        }
    });
 });
});

</script>



