<ul>
<% if @escojida_la_entida -%>
  <li><%= context_menu_link l(:button_edit), edit_escojida_la_entida_path(@escojida_la_entida), class: 'icon icon-edit', disabled: !@can[:edit] %></li>
<% end %>
<% if @safe_attributes.include? 'status' -%>
  <li class="folder">
    <a href="#" class="submenu icon icon-issue-status" onclick="return false;"><%= l(:field_status) -%></a>
    <ul>
      <% ESCOJIDALaEntida.statuses.keys.each do |s| -%>
        <li>
          <%= context_menu_link l("escojida_la_entida.statuses.#{s}"), bulk_update_escojida_la_entida_path(id: @escojida_la_entida_ids, escojida_la_entida: {status: s}, back_url: @back), method: :put,
                                  selected: (@selected[:status] == s), disabled: !@can[:edit], confirm: l(:text_are_you_sure) %>
        </li>
      <% end -%>
    </ul>
  </li>
  <% end %>
  <li><%= context_menu_link l(:button_delete), escojida_la_entida_path(id: @escojida_la_entida_ids, back_url: @back), method: :delete, data: {confirm: l(:text_are_you_sure)}, class: 'icon icon-del', disabled: !@can[:delete] %></li>

  <%= call_hook(:view_escojida_la_entidas_context_menu_end, {escojida_la_entida: @escojida_la_entida, escojida_la_entidas: @escojida_la_entidas, can: @can, back: @back, project: @project}) %>
</ul>
