<%= title l(:heading_escojida_la_entida_new) %>

<%= form_for([@project, @escojida_la_entida], html: {multipart: false, id: 'escojida_la_entida_form', class: 'tabular', remote: request.xhr?}) do |f| %>
  <%= error_messages_for @escojida_la_entida %>

  <div class="box">
    <%= render partial: 'form', locals: {escojida_la_entida: @escojida_la_entida} %>
  </div>

  <% if !request.xhr? %>
  <p>
    <%= submit_tag l(:button_create), title: l(:button_create) %>
  </p>
  <% end %>
<% end %>
<% ### PAGE CUSTOMS ########################################################## %>
<% content_for :sidebar do %>
  <%= render :partial => 'escojida_la_entidas/sidebar' %>
<% end %>